/* Footer */
.footer {
    text-align: center;
    background-color: #4A1F43; /* Color principal */
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
}