<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Perfil de usuario</title>
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <link href="/css/profile.css" rel="stylesheet">
</head>
<body>

<!-- Navbar -->
<nav class="navbar">
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/profile">Perfil</a></li>
        <li><a href="/fotos">Fotos</a></li>
        <li><a href="/videos">Videos</a></li>
        <li><a href="/settings">Config</a></li>
        <li>
            <a th:href="@{${#authentication != null} ? '/logout' : '/signin'}"
               th:text="${#authentication != null} ? 'Iniciar sesión' : 'Cerrar sesión'"></a>
        </li>
    </ul>
</nav>
<main>
    <!-- Main Section -->
    <section class="profile-section">
        <div class="profile-header">
            <h1>Bienvenido a tu Perfil</h1>
        </div>

        <div class="profile-content">
            <!-- Foto de perfil -->
            <div class="profile-picture">
                <img alt="Foto de perfil" th:src="${picture != null ? picture : avatar_url}">
            </div>

            <!-- Información del usuario -->
            <div class="profile-info">
                <p><span th:text="${name}">Nombre del usuario</span></p>
                <p><span th:text="${email}">Email del usuario</span></p>
                <p><span th:text="${login}">Login del usuario</span></p>

            </div>
        </div>
    </section>
</main>
<main class="placeholder-container">
    <section class="placeholder-section">
        <ul class="placeholder-list">
            <li class="placeholder-item">En Desarrollo</li>
            <li class="placeholder-item">En Desarrollo</li>
            <li class="placeholder-item">En Desarrollo</li>
            <li class="placeholder-item">En Desarrollo</li>
            <li class="placeholder-item">En Desarrollo</li>
        </ul>
    </section>
</main>

<!-- Footer -->
<footer class="footer">
    <p>&copy; 2024 Tu Aplicación. Todos los derechos reservados.</p>
</footer>

</body>
</html>


